.container {
  color: #fff;
  margin-top: 60px;
}

.tagline {
  padding: 15px 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 1.5rem;
  background: linear-gradient(
    121deg,
    rgba(103, 58, 183, 0.3046393557422969) 0%,
    rgba(81, 45, 168, 0.3018382352941176) 100%
  );
}

.type {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
  transition: all 0.2s ease-in;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.8px;
  background: #564592;
  color: #fff;
}
.button i {
  font-size: 1.4rem;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  line-height: 1;
}
.button:hover i {
  margin-left: 25px;
  cursor: pointer;
}

.image {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
